**/.DS_Store
Configuration.json
index.pck
index.wasm
sweetnest.exe.pck
sweetnest.exe.wasm
app.pck
app.wasm
Survival Bible.dmg
Survival Bible.exe
SB.dmg
SB.exe
Stupid Brother.pck
SB.pck
Stupid Brother.wasm
