@charset "utf-8";
/* CSS Document */

:root {
    --fondochiaro: #023373;
    --tonomedio: #034AA6;
    --contrasto: #E84545;
    --fondoscuro: #011C40;
    --nero: #212121;
    --bianco: #e4e5e0;
    
    --seserve: #05F2DB;
    
    --bordo: 10px;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size:2em;
    margin:0;
}

h3 {
    color: var(--contrasto);
    font-size: 2em;
    margin: 0;
}

p {
    margin:0;
}

a {
    color: var(--contrasto);
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    color: var(--bianco);
    background-color: var(--fondoscuro);
    padding: 5em 5%;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-size: 100px;
}

p#about {
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
    line-height: 1.5em;
}

#counter {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 3em auto 0;
    justify-content: space-around;
    align-content: space-between;
}

.counter-card {
    margin: auto 11%;
    padding: 1em 0;
}

.icon {
    /* cambia il colore dell'icona > https://codepen.io/sosuke/pen/Pjoqqp */
    filter: brightness(0) saturate(100%) invert(79%) sepia(1%) saturate(1623%) hue-rotate(49deg) brightness(128%) contrast(79%);
    margin-bottom: 1em;
}

p.numero {
    font-size: 2em;
    font-weight: 600;
    color: var(--contrasto);
}

p.caption {
    font-size: 1.5em;
    font-variant: small-caps;
}

main {
    text-align: center;
    margin: 3em auto;
}

.anno {
    color: var(--nero);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2em 2em 0 2em;
    width: 90%;
    justify-content: space-around;
}

hr {
    width: 50%;
    border-style: solid;
    color: var(--contrasto);
    height: 1px;
    margin-bottom: 3.75em;
}

.card {
    width: 200px;
    margin: 20px 0;
    padding: 0;    
    background-color: var(--tonomedio);
    border-radius: var(--bordo);
}

.card>img {
    margin: 0;
    padding: 0;
    border-radius: var(--bordo) var(--bordo) 0 0;
}

.card-testo {
    padding: 1em auto;
    margin: 0;
    text-align: center;
    background-color: var(--tonomedio);
    color: var(--bianco);
    border-radius: 0 0 var(--bordo) var(--bordo);
}

p.card-titolo {
    margin: 0 auto;
    padding-top: 0.05em;
    font-weight: bold;
}

p.card-autore {
    margin: 0 auto;
    padding-bottom: 0.35em;
}

footer {
    color: var(--bianco);
    background-color: var(--fondoscuro);
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
}



/*pagina interna progetto*/
p#about-interno {    
    text-align: center;
    font-size: 1.2em;
    margin: 1em auto;
    line-height: 1.5em;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size:1.5em;
    margin-bottom: 25px;
}

.mockup>img {
    width: 200px;
    margin: 20px;
    border-radius: var(--bordo);
}

.riga {
    margin: 20px auto;
}

p#testo-interno {
    max-width: 60%;
    text-align: center;
    font-size: 1.2em;
    margin: 1em auto 0 auto;
    line-height: 1.5em;
}

#link-progetto {
    border: 0px solid var(--contrasto);
    border-radius: var(--bordo);
    background-color: var(--tonomedio);
    padding: 1em 1.5em;
    color: var(--bianco);
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1em auto;
}


/*pagina info*/
p#info-testo {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}

.contenitore {    
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contenitore-testo-info {    
    flex-basis: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#titolo-info {
    text-align: left;
    margin: 0;
}

p#info-testo2 {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}

.immagini-info {
    width: 100%;
    margin-top: 3em;
}







@media screen and (min-width: 800px) {
    h1 {font-size: 3em;}
    #about {width: 50%; margin: 1.5em auto;}
    .contenitore-testo-info {flex-basis: 40%;}
    #contenitore-invert {flex-direction: row-reverse;}
    .immagini-info {width: auto; height: 300px; margin-top: 0;}
}