@charset "utf-8";
/* CSS Document */

:root {
    --fondochiaro: #023373;
    --tonomedio: #034AA6;
    --contrasto: #E84545;
    --fondoscuro: #011C40;
    --nero: #212121;
    --bianco: #e4e5e0;
    
    --seserve: #05F2DB;
    
    --bordo: 10px;
}

body {
    font-family: Roboto, Tahoma, Verdana, Arial, sans-serif;
}

a {
    color: var(--contrasto);
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    color: var(--bianco);
    background-color: var(--fondochiaro);
    padding: 5em 10em;
}

main {
    color: var(--nero);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 3em;
    width: 90%;
    justify-content: space-around;
}

.card {
    width: 200px;
    margin: 20px 0;
    padding: 0;    
    background-color: var(--tonomedio);
    border-radius: var(--bordo);
}

.card>img {
    margin: 0;
    padding: 0;
    border-radius: var(--bordo) var(--bordo) 0 0;
}

.card-testo {
    padding: 1em auto;
    margin: 0;
    text-align: center;
    background-color: var(--tonomedio);
    color: var(--bianco);
    border-radius: 0 0 var(--bordo) var(--bordo);
}

p.card-titolo {
    margin: 0 auto;
    padding-top: 0.05em;
    font-weight: bold;
}

p.card-autore {
    margin: 0 auto;
    padding-bottom: 0.35em;
}

footer {
    color: var(--bianco);
    background-color: var(--fondoscuro);
    padding: 1em 10em;
    display: flex;
    justify-content: space-between;
}

footer>p {
    margin: 0;
}
