@charset "utf-8";
/* CSS Document */

:root {
    --grigio: #F0F0F0;
    --blu: #2C2E4A;
    --rosso: #E84545;
    --rossoscuro: #8F3749;
    --nero: #282828;
    --bianco: #fffdfa;
    
    --bordo: 20px;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size:2em;
    margin:0;
}

h3 {
    color: var(--blu);
    font-size: 2em;
    margin: 0;
}

p {
    margin:0;
}

a {
    color: var(--bianco);
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    color: var(--nero);
    background-color: var(--rosso);
    padding: 5em 5%;
}

#cambia-css {
    border: 0px solid var(--rossoscuro);
    border-radius: var(--bordo);
    background-color: var(--rossoscuro);
    padding: 0.5em 0.7em;
    color: var(--bianco);
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1em 0 -5em auto;
    display: block;
    position: relative;
    top: -4.5em;
    right: 0;
    cursor: pointer;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-size: 100px;
}

p#about {
    text-align: center;
    font-size: 1.3em;
    margin-top: 1em;
    line-height: 1.6em;
}

#counter {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 3em auto 0;
    justify-content: space-around;
    align-content: space-between;
}

.counter-card {
    margin: auto 11%;
    padding: 1em 0;
}

.icon {
    /* cambia il colore dell'icona > https://codepen.io/sosuke/pen/Pjoqqp */
    filter: brightness(0) saturate(100%) invert(79%) sepia(1%) saturate(1623%) hue-rotate(49deg) brightness(128%) contrast(79%);
    margin-bottom: 1em;
}

p.numero {
    font-size: 2em;
    font-weight: 600;
    color: var(--bianco);
}

p.caption {
    font-size: 1.5em;
    font-variant: small-caps;
    color: var(--bianco);
}

main {
    text-align: center;
    margin: 5em auto;
    width: 80%;
}
main > h3 {
    margin-bottom: 1em;
    font-size: 3em;
}

h3:before,
h3:after {
  background-color: var(--rosso);
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 5%;
}

h3:before {
  right: 0.5em;
  margin-left: -50%;
}

h3:after {
  left: 0.5em;
  margin-right: -50%;
}

.anno {
    color: var(--nero);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
}

hr {
    width: 50%;
    border-style: solid;
    color: var(--blu);
    height: 1px;
    margin-bottom: 3.75em;
}

.card {
    width: 300px;
    margin: 25px;
    padding: 40px;
    background-color: var(--grigio);
    border-radius: var(--bordo);
}

.card img {
    border-radius: var(--bordo);
    width: 100%;
    height: 10em;
    object-fit: cover;
}

.card-testo {
    margin: 1em 0 0;
    text-align: center;
    color: var(--nero);
}

p.card-titolo {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

p.card-autore {
    padding-top: 0.35em;
    font-size: 1.2em;
    font-weight: 300;
}

footer {
    color: var(--bianco);
    background-color: var(--blu);
    padding: 2.5em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*pagina info*/

.contenitore {    
    margin: 10em 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contenitore-testo-info {    
    flex-basis: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.titolo-info {
    margin: 0;
    text-align: left;
    margin-bottom: .4em;
}

.titolo-info::before {
    content: none;
}

.titolo-info::after {
    width: 10%;
}

p#info-testo, p#info-testo2 {
    text-align: left;
    font-size: 1em;
    line-height: 2em;
}

.contenitore a {
    color: var(--rosso);
}

.immagini-info {
    width: 100%;
    margin-top: 3em;
}

a#licenza-freepik {
    font-weight: 200;
    font-style: italic;
    font-size: 0.6em;
    color: gray;
    margin: 0 auto 0.5em auto;
}







@media screen and (min-width: 800px) {
    h1 {font-size: 3em;}
    #about {width: 70%; margin: 1.5em auto;}
    .contenitore-testo-info {flex-basis: 60%;}
    #contenitore-invert {flex-direction: row-reverse;}
    .immagini-info {width: auto; height: 250px; margin-top: 0;}
    #licenza-freepik {font-size: 0.8em;}
    #cambia-css {right: -4em;}
}