
@charset "utf-8";
/* CSS specifico del progetto */

@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100;0,8..30,200;0,8..30,300;0,8..30,400;0,8..30,500;0,8..30,600;0,8..30,700;0,8..30,800;0,8..30,900;1,8..30,100;1,8..30,200;1,8..30,300;1,8..30,400;1,8..30,500;1,8..30,600;1,8..30,700;1,8..30,800;1,8..30,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

:root {
    --fondochiaro: #023373;
    --tonomedio: #034AA6;
    --contrasto: #E84545;
    --fondoscuro: #011C40;
    --nero: #212121;
    --bianco: #e4e5e0;
    
    --seserve: #05F2DB;
    
    --bordo: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
    background-color: #85B3FF;
}

h1 {
    font-size:2em;
    margin:0;
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 500;
}


h3 {
    color: var(--contrasto);
    font-size: 2em;
    margin: 0;
    font-family: 'HK Grotesk', sans-serif;
}

p {
    margin:0;
    font-family: 'HK Grotesk', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    color: black;
    background-color: whitesmoke;
    padding: 5em 5%;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border: solid black 2px;
}

main {
    text-align: center;
    margin: 3em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    color: white;
    background-color: black;
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'HK Grotesk', sans-serif;
}

nav a:hover {
    border-bottom: solid white 2px;
    transition: all 0.2s
}

nav a {
	margin-left: 3em;
}

#nome-progetto {
    margin-top: 0.5em;
    display: none;
}

p#about-interno {    
    text-align: center;
    font-size: 1.2em;
    margin: 1em auto;
    line-height: 1.5em;
    font-weight: 600;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size:1.5em;
    margin-bottom: 25px;
}

.mockup>img {
    width: 800px;
    margin: 50px;
    margin-top: 70px;
    border-radius: var(--bordo);
    background-color: transparent;
}

.riga {
    margin: 20px auto;
}

p#testo-interno {
    max-width: 60%;
    text-align: center;
    font-size: 1.2em;
    margin: 1em auto 0 auto;
    line-height: 1.5em;
    background-color: whitesmoke;
    padding: 36px;
    border-radius: 40px;
    border: solid black 2px;
    box-shadow: -8px 8px 0px black;
}

i {
    font-family: 'Piazzolla', serif;
    font-weight: 500;
}

#testo-interno a {
    color: black;
}

#link-progetto {
    border: 2px solid black;
    border-radius: var(--bordo);
    background-color: black;
    padding: 1em 1.5em;
    color: var(--bianco);
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1em auto;
    cursor: pointer;
    font-family: 'HK Grotesk', sans-serif;
    transition: all .4s;
}

#link-progetto:hover {
    background-color: #85B3FF;
    box-shadow: -5px 5px 0px black;
    color: black;
    transition: all .4s;
}

#logo {
    width: 500px;
    height: fit-content;
}

@media screen and (min-width: 800px) {
    h1 {font-size: 3em;
    }
}

@media screen and (max-width: 700px) {
    p#testo-interno {
        max-width: 85%;
        margin: 0px;
    }

    #logo {
        width: 300px;
    }

    .mockup img {
        display: none;
    }

}