.complete_game-img {
	position: relative;
	top:5rem;
	height: auto;
	width: 1000px;
	margin-left: 10%;
}

.complete_game-img a#go_to_crediti {
	position: absolute;
	top: 65%;
	right: 46.5%;
	cursor: pointer;
	opacity: 0%;
}


.complete_game-img a#download_pdf {
	position: absolute;
	top: 57%;
	right: 43%;
	cursor: pointer;
	opacity: 0%;
}