.container__livello4_complete-2-img {
	position: relative;
	top:5rem;
	height: auto;
	width: 1000px;
	margin-left: 15%;
}

.container__livello4_complete-2-img a {
	position: absolute;
	top: 71%;
	right: 24.5%;
	cursor: pointer;
	opacity: 0%;
}