.container{
    width: 1920px;
    height: auto;
}
.header .navv a.Profilo{position: relative;
    background-color: tomato;
    top: -30px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(247, 157, 141);
   
  
}

.main-content{
    text-align: center;
    box-shadow: 0 0 0px #00000070;
}
.top-section img{
    position: relative;
    left: 0px;
    top: 0px;
    width:50%;
    height: 50%;
    border-radius:50%;
    
}
.top-section{
 background-color: #575fcf;
 padding: 20px 0 30px 0;
 color: #ecf0f1;
 width: 400px;
    
}
.top-section p{
    margin: 5px 0 5px 0;
}
.top-section .name{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}
.top-section .email .mobile{
    font-size: 18px;
   
}
.middle-section, .bottom-section{
    background-color: white;
}
.middle-section{
    position: relative;
}
.middle-section a{
    text-decoration: none;
}

.social{
    position: relative;
    width: 100%;
    top: -30px;
}
.social i{
   width: 50px;
   height: 50px;
   font-size: 30px;
   color: white;
   background-color: #2c3e50;
   border-radius: 50%;
   line-height: 50px;
   margin: 5px;
   
}
.bottom-section .move{
    position: relative;
    top: -23px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}
.bottom-section .move span{
   display: block;
}
.border{
    width: 1px;
    height: 40px;
    background-color: #d3dae2;
    margin-left: 50px;
    margin-right: 40px;
}
.gg{
    position: relative;
    float: right;
    top: -90px;
}
.icone img{
    float: left;
    width: 40px;
    height:30px;
    margin-left: -100px;
    margin-top: -45px;


}
.footer{
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #0099cc;
    text-align: center;
    top: -20px;
    

}
.footer p{
    position: relative;
   top: 10px;
    

}
.sfondo{
    position: relative;
    height: 220px;
    background-color: rgb(241, 241, 226);
    text-align: center;
    top: -20px;
    overflow: hidden;
}
.p1{
  width: 400px;
  text-align: justify;
}
