@charset "utf-8";
/* CSS specifico del progetto */

:root {
    --fondochiaro: #023373;
    --tonomedio: #034AA6;
    --contrasto: #E84545;
    --fondoscuro: #011C40;
    --nero: #212121;
    --bianco: #e4e5e0;

    --seserve: #05F2DB;

    --bordo: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
    background-color: var(--nero);
}

h1 {
    text-transform: uppercase;
    font-size:2em;
    margin:0;
}

h3 {
    color: var(--contrasto);
    font-size: 2em;
    margin: 0;
}

p {
    margin:0;
    color: #ffff
}

a {
    color: var(--contrasto);
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    color: var(--bianco);
    background-color: var(--nero);
    padding: 5em 5% 0em;
}

main {
    text-align: center;
    margin: 3em auto;
    background-color: var(--nero);
}

footer {
    color: var(--bianco);
    background-color: var(--nero);
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
	margin-left: 3em;
}

#nome-progetto {
    margin-top: 0.5em;
}

p#about-interno {
    text-align: center;
    font-size: 1.2em;
    margin: 1em auto;
    line-height: 1.5em;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size:1.5em;
    margin-bottom: 25px;
}

.mockup>img {
    width: 200px;
    margin: 20px;
    border-radius: var(--bordo);
}

.riga {
    margin: 20px auto;
}

p#testo-interno {
    max-width: 60%;
    text-align: center;
    font-size: 1.2em;
    margin: 1em auto 0 auto;
    line-height: 1.5em;
}

#link-progetto {
    border: 0px solid var(--contrasto);
    border-radius: var(--bordo);
    background-color: var(--contrasto);
    padding: 1em 1.5em;
    color: var(--bianco);
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1em auto;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    h1 {font-size: 3em;}
}
