#corpo{
    background-color: #4FA387;
}

#header{
    text-align: center;
}

#setting{
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 90px;
    margin: 10px auto;
    font-size: 14px;
    height: 50px;
    border-radius: 50px;
}

#dialog{
    background-color: #ACB5ED;
}

#modal1{
    width:100%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 45px;
    font-family: Arial, sans-serif;
    color: white;
}

.form-control{
    border: none;
}

#closeX{
    background-color: white;
    border-color: white;
}

#btnClose{
    color: white;
    background-color: transparent;
    border: transparent;
    font-family: Arial, sans-serif;
}

#btnSave{
    color: white;
    background-color: transparent;
    border: transparent;
    font-family: Arial, sans-serif;
}

#container{
    width: 700px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#timer{
    font-size: 110px;
    margin: 10px 25px auto;
    width: 600px;
    height: 180px;
    overflow: inherit;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#time{
    z-index: 1;
    position: relative;
    display: inline-block;
}

#minutes{
    font-size: 110px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    display: inline-block;
    color: white;
}

#colon{
    font-size: 110px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    display: inline-block;
    color: white;
}

#seconds{
    font-size: 110px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    display: inline-block;
    color: white;
}

#gif{
    display: inline-block;
}

#buttons button{
    border: transparent;
    font-family: Arial, sans-serif;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 90px;
    margin: 10px auto;
    font-size: 15px;
    height: 50px;
    border-color: transparent;
    border-radius: 50px;
}

#buttons button#work{
    background: transparent;
} 
#buttons button#work:hover {
    background-color: #ACB5ED;
}

#buttons button#break{
    background: transparent;
}
#buttons button#break:hover {
    background-color: #FCCA58;
}

#buttons button#longbreak{
    background: transparent;
    border: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 5px;
    width: 90px;
    margin: 10px auto;
    font-size: 15px;
    height: 50px;
    border-radius: 50px;
}
#buttons button#longbreak:hover {
    background-color:  #FFA4DC;
}

@media only screen and(max-width: 480px) {
    body,html{
        margin: 0;
        padding: 0;
    }    
    #container{
        width: 100%;
        margin-inline: auto;
    }
    #header{
        width: 100%;
        margin-inline: auto;
    }
    #setting{
        padding-left: 100 px;
    }
    #modal1{
        width: 100%;
        margin-top: 65px;
        margin-left: 290px;
    }

}

@font-face {
    font-family: dinBold;
    src: url(./1x/DIN2014-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: dinLight;
    src: url(./1x/DIN2014-Light.woff) ;
    font-weight: lighter ;
}
@font-face {
    font-family: dinRegular;
    src: url(./1x/DIN2014-Regular.woff);
    font-weight: normal;
}