@charset "utf-8";
/* CSS Document */

:root {
    --fondochiaro: #f87004;
    --tonomedio: #ae3e07;
    --contrasto: #f4282b;
    --fondoscuro: #660406;
    --fondoscurobottom: #440304;
    --nero: #360203;
    --bianco: #fdeed3;
    
    --bordo: 10px;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3em;
    margin: 0;
	background: var(--bianco);
}

h1 {
    text-transform: uppercase;
    font-size:2.2em;
    margin:0;
}

h3 {
    color: var(--contrasto);
    font-size: 2em;
    margin: 0;
}

p {
    margin:0;
}

a {
    color: var(--contrasto);
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    color: var(--bianco);
    background: linear-gradient(to top, var(--fondoscuro), var(--fondoscurobottom));
    padding: 3em 1%;
}

#cambia-css {
    border: 0px solid var(--tonomedio);
    border-radius: var(--bordo);
    background-color: var(--tonomedio);
    padding: 0.5em 0.7em;
    color: var(--bianco);
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1em 0 -5em auto;
    display: block;
    cursor: pointer;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-size: 100px;
}

p#about {
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
    line-height: 1.5em;
}

#counter {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 3em auto 0;
    justify-content: space-around;
    align-content: space-between;
}

.counter-card {
    margin: auto 11%;
    padding: 1em 0;
}

#logo, #logotitolo, #logo-footer, .icon {
	filter: brightness(0) saturate(100%) invert(77%) sepia(79%) saturate(2288%) hue-rotate(327deg) brightness(100%) contrast(98%);
}

p.numero {
    font-size: 2.2em;
    font-weight: 600;
    color: var(--contrasto);
}

p.caption {
    font-size: 1.75em;
    font-variant: small-caps;
}

main {
    text-align: center;
    margin: 3em auto;
}

.anno {
    color: var(--nero);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2em 2em 0 2em;
    width: 90%;
    justify-content: space-around;
}

hr {
    width: 50%;
    border-style: solid;
    color: var(--contrasto);
    height: 1px;
    margin-bottom: 3.75em;
}

.card {
    width: 200px;
    margin: 20px 0;
    padding: 0;    
    background: linear-gradient(to top, var(--fondoscuro), var(--fondoscurobottom));
    border-radius: var(--bordo);
}

.card>img {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: var(--bordo) var(--bordo) 0 0;
}

.card-testo {
    padding: 1em auto;
    margin: 0;
    text-align: center;
    color: var(--bianco);
    border-radius: 0 0 var(--bordo) var(--bordo);
}

p.card-titolo {
    margin: 0 auto;
    padding-top: 0.05em;
    font-weight: bold;
}

p.card-autore {
    margin: 0 auto;
    padding-bottom: 0.35em;
    font-weight: normal;
}

footer {
    color: var(--bianco);
    background-color: var(--fondoscuro);
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*pagina info*/
p#info-testo {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}

.contenitore {    
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contenitore-testo-info {    
    flex-basis: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.titolo-info {
    text-align: left;
    margin: 0;
}

p#info-testo2 {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}

.immagini-info {
    width: 100%;
    margin-top: 3em;
    mix-blend-mode: multiply;
}

a#licenza-freepik {
    font-weight: 200;
    font-style: italic;
    font-size: 0.6em;
    color: gray;
    margin: 0 auto 0.5em auto;
}




@media screen and (min-width: 800px) {
    h1 {font-size: 3em;}
    #about {width: 70%; margin: 1.5em auto;}
    .contenitore-testo-info {flex-basis: 40%;}
    #contenitore-invert {flex-direction: row-reverse;}
    .immagini-info {width: auto; height: 300px; margin-top: 0;}
    #licenza-freepik {font-size: 0.8em;}
    #cambia-css {right: -4em;}
}